{{ define "main" }}
<p>
    {{- .Content -}}
</p>

<div class="interspacer">
    <hr>
</div>
<h2 class="recent-list">Featured publications <a href="/publication">(see all)</a></h2>

{{ range first 4 (where (where .Site.Pages "Type" "==" "publication" ) "Params.featured" "==" true) }}
    {{ .Render "summary" }}
{{ end }}

<div class="interspacer">
    <hr>
</div>
<h2 class="recent-list">Recent posts <a href="/post">(see more)</a></h2>

{{ range first 3 (where (where .Site.Pages "Type" "==" "post") ".Kind" "==" "page")}}
    {{ .Render "summary" }}
{{ end }}
{{ end }}